<div class="container py-5">
  <div class="card shadow-lg rounded">
    <!-- Encabezado -->
    <div class="card-header bg-primary text-white text-center">
      <h3 class="mb-0">{{ titulo }}</h3>
    </div>

    <!-- Cuerpo del formulario -->
    <div class="card-body">
      <form #form="ngForm">
        <!-- Campo Nombre -->
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre" required minlength="4"
            #nombre="ngModel"
            [ngClass]="{'is-invalid': nombre.invalid && (nombre.dirty || nombre.touched), 'is-valid': nombre.valid && (nombre.dirty || nombre.touched)}" />
          <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="invalid-feedback">
            <div *ngIf="nombre.errors?.['required']">Nombre es requerido</div>
            <div *ngIf="nombre.errors?.['minlength']">Nombre debe tener al menos 4 caracteres</div>
          </div>
        </div>

        <!-- Campo Apellido -->
        <div class="mb-3">
          <label for="apellido" class="form-label">Apellido</label>
          <input type="text" id="apellido" class="form-control" placeholder="Ingrese el apellido"
            [(ngModel)]="cliente.apellido" name="apellido" required minlength="4" #apellido="ngModel"
            [ngClass]="{'is-invalid': apellido.invalid && (apellido.dirty || apellido.touched), 'is-valid': apellido.valid && (apellido.dirty || apellido.touched)}" />
          <div *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)" class="invalid-feedback">
            <div *ngIf="apellido.errors?.['required']">Apellido es requerido</div>
            <div *ngIf="apellido.errors?.['minlength']">Apellido debe tener al menos 4 caracteres</div>
          </div>
        </div>

        <!-- Campo Email -->
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" id="email" class="form-control" placeholder="Ingrese el email" [(ngModel)]="cliente.email"
            name="email" required email #email="ngModel"
            [ngClass]="{'is-invalid': email.invalid && (email.dirty || email.touched), 'is-valid': email.valid && (email.dirty || email.touched)}" />
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="invalid-feedback">
            <div *ngIf="email.errors?.['required']">Email es requerido</div>
            <div *ngIf="email.errors?.['email']">Email debe tener un formato válido</div>
          </div>
        </div>

        <!-- Botón Crear -->
        <div class="d-flex justify-content-end">
          <button class="btn btn-primary rounded-pill px-4 shadow-sm" type="button" (click)="crearCliente()"
            [disabled]="form.invalid">
            Crear Cliente
          </button>
        </div>
      </form>
    </div>
  </div>
</div>