<div class="d-flex justify-content-center align-items-center min-vh-100">
  <div class="card text-white bg-secondary mb-3 shadow-lg" style="max-width: 80rem; width: 90%;">
    <div class="card-header text-center font-weight-bold">Clientes</div>
    <div class="card-body">
      <h5 class="card-title text-center mb-4">Listado de clientes</h5>
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
          <thead class="thead-dark">
            <tr>
              <th>id</th>
              <th>nombres</th>
              <th>apellidos</th>
              <th>email</th>
              <th>fecha de creación</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cliente of clientes">
              <td>{{cliente.id}}</td>
              <td>{{cliente.nombre}}</td>
              <td>{{cliente.apellido}}</td>
              <td>{{cliente.email}}</td>
              <td>{{cliente.createAt}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
